[submodule "Frameworks/Kiwi"]
	path = Frameworks/Kiwi
	url = https://github.com/allending/Kiwi.git
[submodule "Frameworks/MagicalRecord"]
	path = Frameworks/MagicalRecord
	url = git://github.com/magicalpanda/MagicalRecord.git
[submodule "Frameworks/AFNetworking"]
	path = Frameworks/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
